{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - TRT Conseils{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('app_account_infos') }}" class="back_btn bg-dark d-flex align-items-center justify-content-between p-2 mb-5 align-self-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Annuler
    </a>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ form_start(form)}}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.old_password) }}</div>
            <div class="col-md-6">{{ form_row(form.new_password.first) }}</div>
            <div class="col-md-6">{{ form_row(form.new_password.second) }}</div>
            <div class="col-md-12 text-center">{{ form_row(form.submit, {'attr': {'class': 'btn btn-info submit_btn'}}) }}</div>
        </div>
    {{ form_end(form)}}
{% endblock %}
