{% extends 'base.html.twig' %}

{% block title %}Mes offres d'emploi - TRT Conseils{% endblock %}

{% block content %}
<a href="{{ path('app_job_offer_create') }}" class="btn btn-info btn-sm float-right">Ajouter une offre</a>
<h1>Mes offres d'emploi</h1>
<hr>
{% if app.user.jobOffers|length == 0 %}
    <p class="text-center">
        Vous n'avez pas encore ajouté d'offres d'emploi sur votre compte. Pour en ajouter une, veuillez <a href="{{ path('app_job_offer_create') }}">cliquer ici</a>.
    </p>
{% else %}
    <div class="row">
        {% for  jobOffer in app.user.jobOffers %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{ jobOffer.title }}</h5>
                            <div>
                                <p class="card-text">{{ jobOffer.salary }}</p>
                                <p class="card-text">{{ jobOffer.workingHours }}</p>
                            </div>
                        </div>
                        <p class="card-text">{{ jobOffer.place }}</p>
                        <p class="card-text">{{ jobOffer.description }}</p>
                        <a href="{{ path('app_job_offer_edit', {'id' : jobOffer.id}) }}">Modifier</a> | <a href="{{ path('app_job_offer_delete', {'id' : jobOffer.id}) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor  %}
    </div>
{% endif %}
{% endblock %}
