{% extends 'base.html.twig' %}

{% block title %}
{% if path(app.request.attributes.get('_route'), 
    app.request.attributes.get('_route_params'))|slice(18) == 'creer' %}
    Nouveau consultant
{% else %}
    Édition du consultant {{consultant.id}}
{% endif %}
     - TRT Conseils
{% endblock %}

{% block content %}
{% if path(app.request.attributes.get('_route'), 
    app.request.attributes.get('_route_params'))|slice(18) == 'creer' %}
    <h1>Création consultant</h1>
{% else %}
    <h1>Édition du consultant {{consultant.id}}</h1>
{% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        <hr>
    {% endif %}
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
        <hr>
    {% endif %}
    <a href="{{ path('app_admin_consultant') }}" class="back_btn bg-dark d-flex align-items-center justify-content-between p-2 mb-5 align-self-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Annuler
    </a>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{ form_row(form.email)}}</div>
        <div class="col-md-6">{{ form_row(form.password.first)}}</div>
        <div class="col-md-6">{{ form_row(form.password.second)}}</div>
        <div class="col-md-6">{{ form_row(form.firstname)}}</div>
        <div class="col-md-6">{{ form_row(form.lastname)}}</div>
        <div class="col-md-12 text-center">{{ form_row(form.submit, {'attr': {'class': 'btn btn-info w-25'}})}}</div>    
    </div>
    {{ form_end(form) }}
{% endblock %}