{% extends 'base.html.twig' %}

{% block title %}Consultants - TRT Conseils{% endblock %}

{% block content %}
<h1>Gestion des consultants</h1>
<div class="d-flex justify-content-between w-100 flex-wrap align-items-center">
    <a href="{{ path('app_admin') }}" class="back_btn bg-dark d-flex align-items-center justify-content-between p-2 mb-5 align-self-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Retour
    </a>
    <a href="{{ path('app_admin_consultant_create') }}" class="add-consultant_btn bg-info d-flex align-items-center justify-content-between p-2 mb-5 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            Ajouter un consultant
        </a>
</div>
<div class="notification">
    
</div>
{% if consultants|length == 0 %}
    <p class="text-center">
        Il n'existe aucun consultant. Pour en ajouter un, veuillez <a href="{{ path('app_admin_consultant_create') }}">cliquer ici</a>.
    </p>
{% else %}
    <div class="row w-100">
        {% for  consultant in consultants %}
            <div class="col-md-4 p-1">
                <div class="card w-100 h-100" style="width: 18rem;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-text">{{ consultant.firstname }} {{ consultant.lastname }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ consultant.email }}</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('app_admin_consultant_delete', {'id' : consultant.id}) }}" class="bg-danger rounded p-2 text-white">Supprimer</a>
                            <a href="{{ path('app_admin_consultant_edit', {'id' : consultant.id}) }}" class="bg-success rounded p-2 text-white">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor  %}
    </div>
{% endif %}
{% endblock %}
