{% extends 'base.html.twig' %}

{% block title %}Consultants - TRT Conseils{% endblock %}

{% block content %}

<h1>Gestion des consultants</h1>
<a href="{{ path('app_admin') }}" class="back_btn bg-dark d-flex align-items-center justify-content-between p-2 mb-5 align-self-start">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
    Retour
</a>
<a href="{{ path('app_admin_consultant_create') }}" class="btn btn-info btn-sm float-right">Ajouter un consultant</a>
{% if consultants|length == 0 %}
    <p class="text-center">
        Il n'existe aucun consultant. Pour en ajouter un, veuillez <a href="{{ path('app_admin_consultant_create') }}">cliquer ici</a>.
    </p>
{% else %}
    <div class="row">
        {% for  consultant in consultants %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ consultant.email }}</h5>
                        <p class="card-text">{{ consultant.firstname }}</p>
                        <p class="card-text">{{ consultant.lastname }}</p>
                        <a href="{{ path('app_admin_consultant_edit', {'id' : consultant.id}) }}">Modifier</a> | <a href="{{ path('app_admin_consultant_delete', {'id' : consultant.id}) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor  %}
    </div>
{% endif %}
{% endblock %}
