{% extends 'base.html.twig' %}

{% block title %}Consultant - TRT Conseils{% endblock %}

{% block content %}
<h1>Bienvenue sur l'espace Consultant</h1>
{# display any flash message #}    
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="w-100 rounded p-5 bg-light d-flex flex-column align-items-center">
    <span class="mb-4 bg-secondary text-light rounded px-2 py-1">Candidatures en attente d'approbation ({{ nonApprovedCandidatures|length }})</span>
    {% if nonApprovedCandidatures|length == 0 %}
        <p class="text-center">
            Il n'y a aucune candidature en attente d'approbation.
        </p>
    {% else %}
        <div>
            {% for  candidature in nonApprovedCandidatures %}
            <div class="row w-100 d-flex justify-content-between align-items-center my-4 bg-secondary bg-opacity-10 rounded p-2">
                <div class="col-md-4 p-1">
                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-text">{{ candidature.candidate.firstname }} {{ candidature.candidate.lastname }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>Email : </b>{{ candidature.candidate.email }}</p>
                            <p><b>Emploi recherché : </b>{{candidature.candidate.job}}</p>
                            <p><a href="../uploads/{{candidature.candidate.cv}}" class="bg-secondary p-2 rounded text-white">Voir le CV</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-flex flex-column justify-content-end align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                        <a href="{{ path('app_consultant_candidature_approve', {'id' : candidature.id}) }}" class="bg-success bg-opacity-75 rounded p-2 text-white">Approuver</a>
                    </div>
                </div>
                <div class="col-md-5 p-1">
                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{ candidature.jobOffer.title }}</h5>
                            <p class="card-text bg-secondary text-white p-2 m-0 rounded">{{ candidature.jobOffer.workingHours }} | {{ candidature.jobOffer.salary|number_format(2, ',', '.') }} €</p>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text"><b>Lieu : </b>{{ candidature.jobOffer.place }}</p>
                            <p class="card-text"><b>Description : </b>{{ candidature.jobOffer.description }}</p>
                            <p>Offre proposée par <b>{{ candidature.jobOffer.recruiter.company }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor  %}
        </div>
    {% endif %}
    <hr class="my-5 w-100">
    <span class="mb-4 bg-secondary text-light rounded px-2 py-1">Offres d'emploi en attente d'approbation ({{ nonApprovedJobOffers|length }})</span>
    {% if nonApprovedJobOffers|length == 0 %}
        <p class="text-center">
            Il n'y a aucune offres d'emploi en attente d'approbation.
        </p>
    {% else %}
        <div class="row w-100">
            {% for  jobOffer in nonApprovedJobOffers %}
                <div class="col-md-6 p-1">
                    <div class="card w-100 h-100" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{ jobOffer.title }}</h5>
                            <p class="card-text bg-secondary text-white p-2 m-0 rounded">{{ jobOffer.workingHours }} | {{ jobOffer.salary|number_format(2, ',', '.') }} €</p>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text"><b>Lieu : </b>{{ jobOffer.place }}</p>
                            <p class="card-text"><b>Description : </b>{{ jobOffer.description }}</p>
                            <p>Offre proposée par <b>{{ jobOffer.recruiter.company }}</b></p>
                            <hr>
                            <div class="d-flex justify-content-end align-items-center">
                                <a href="{{ path('app_consultant_job_offer_approve', {'id' : jobOffer.id}) }}" class="bg-success bg-opacity-75 rounded p-2 text-white">Approuver</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
    {% endif %}
    <hr class="my-5 w-100">
    <span class="mb-4 bg-secondary text-light rounded px-2 py-1">Candidats en attente d'approbation ({{ nonApprovedCandidates|length }})</span>
    {% if nonApprovedCandidates|length == 0 %}
        <p class="text-center">
            Il n'a aucun candidat en attente d'approbation.
        </p>
    {% else %}
        <div class="row w-100">
            {% for  user in nonApprovedCandidates %}
                <div class="col-md-4 p-1">
                    <div class="card w-100 h-100" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-text">{{ user.firstname }} {{ user.lastname }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>Email : </b>{{ user.email }}</p>
                            <p><b>Emploi recherché : </b>{{user.job}}</p>
                            <p><a href="../uploads/{{user.cv}}" class="bg-secondary p-2 rounded text-white">Voir le CV</a></p>
                            <hr>
                            <div class="d-flex justify-content-end align-items-center">
                                <a href="{{ path('app_consultant_candidate_approve', {'id' : user.id}) }}" class="bg-success bg-opacity-75 rounded p-2 text-white">Approuver</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
    {% endif %}
    <hr class="my-5 w-100">
    <span class="mb-5 bg-secondary text-light rounded px-2 py-1">Recruteurs en attente d'approbation ({{ nonApprovedRecruiters|length }})</span>
    {% if nonApprovedRecruiters|length == 0 %}
        <p class="text-center">
            Il n'a aucun recruteur en attente d'approbation.
        </p>
    {% else %}
        <div class="row w-100">
            {% for  user in nonApprovedRecruiters %}
                <div class="col-md-4 p-1">
                    <div class="card w-100 h-100" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-text">{{ user.company }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>Email : </b>{{ user.email }}</p>
                            <p class="card-text"><b>Adresse : </b>{{ user.address }}</p>
                            <hr>
                            <div class="d-flex justify-content-end align-items-center">
                                <a href="{{ path('app_consultant_recruiter_approve', {'id' : user.id}) }}" class="bg-success bg-opacity-75 rounded p-2 text-white">Approuver</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
    {% endif %}
</div>
{% endblock %}