<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>{% block title %}TRT Conseils{% endblock %}</title>
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ asset('assets/img/favicon.ico')}}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" href="{{ path('app_home') }}">TRT Conseils</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                    {% if app.user %}
                        {% if ('ROLE_ADMIN' in app.user.roles) %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_admin') %}active{% endif %}" href="{{ path('app_admin') }}">Administration</a>
                            </li>
                        {% elseif ('ROLE_CONSULTANT' in app.user.roles) %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_consultant') %}active{% endif %}" href="{{ path('app_consultant') }}">Accueil Consultant</a>
                            </li>
                        {% elseif ('ROLE_CANDIDATE' in app.user.roles) %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_candidate') %}active{% endif %}" href="{{ path('app_candidate') }}">Accueil Candidat</a>
                            </li>
                        {% elseif ('ROLE_RECRUITER' in app.user.roles) %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_recruiter') %}active{% endif %}" href="{{ path('app_recruiter') }}">Accueil Recruteur</a>
                            </li>
                        {% endif %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_admin_consultant') %}active{% endif %}" href="{{ path('app_admin_consultant') }}">Gestion des consultants</a>
                            </li>
                        {% endif %}
                        {% if ('ROLE_CANDIDATE' in app.user.roles) or ('ROLE_ADMIN' in app.user.roles) or ('ROLE_CONSULTANT' in app.user.roles) %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_job_offers') %}active{% endif %}" href="{{ path('app_job_offers') }}">Offres d'emploi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_account_applied_job_offers') %}active{% endif %}" href="{{ path('app_account_applied_job_offers') }}">Mes candidatures</a>
                            </li>
                        {% elseif 'ROLE_RECRUITER' in app.user.roles %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_account_job_offers') %}active{% endif %}" href="{{ path('app_account_job_offers') }}">Mes offres d'emploi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_account_job_offer_create') %}active{% endif %}" href="{{ path('app_account_job_offer_create') }}">Créer une offre d'emploi</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link 
                                    {% if path == path('app_account') or path == '/compte/infos-compte' or path == '/compte/modifier-infos' or path == '/compte/modifier-mot-de-passe' %}
                                    active
                                    {% endif %}"
                                    href="{{ path('app_account') }}">
                                    Mon Compte <small>
                                    {% if 'ROLE_CANDIDATE' in app.user.roles or 'ROLE_ADMIN' in app.user.roles or 'ROLE_CONSULTANT' in app.user.roles %}
                                        ({{ app.user.firstname }})
                                    {% elseif 'ROLE_RECRUITER' in app.user.roles %}
                                        ({{ app.user.company }})
                                    {% endif %}
                                    </small>
                                </a>
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link {% if path == path('app_logout') %}active{% endif %}" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_login') %}active{% endif %}" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if path == path('app_register') %}active{% endif %}" href="{{ path('app_register') }}">Inscription</a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <main class="container">
            {% block content %}

            {% endblock %}
        </main>
        <footer class="py-2">
            <p>Créé par Mathieu Bouthors</p>
        </footer>
        {% block script %}
            
        {% endblock %}
        <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    </body>
</html>